# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/
build/

# misc
.DS_Store
.env
.env.local
.env.*.local
.vscode/
.idea/
*.log

# local dev
*.swp
*.swo
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vite cache
.vite/
